{% extends "layout.html" %}
{% block title %}用户列表{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
	
    </style>		
	 <link type="text/css" href="{{ base }}/css/jquery.dataTables.css" rel="stylesheet">
	 <link type="text/css" href="{{ base }}/css/jquery.datetimepicker.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">	
        <div class="row">
            <div class="page-header">
                <div class="form-inline" id="Form1" method="post" action="/dms/admin/data/">
					
					<div class="form-inline" id="">
						<label for="id">设备号/用户ID：</label>					
						<input type="text" class="form-control" id="devid" value=""/>
						<label for="type">类型：</label>					 
						<select class="form-control" id="type" name="type" onchange="change(this.value)">
							<option value="">请选择</option>
							<option value="power">电量</option>
							<option value="cmd">指令</option>
							<option value="temp">天气</option>
						</select>

						<label id='frequency_label'>频率：</label>	
						<select class="form-control" id="frequency" name="frequency" >
							<option value="">请选择</option>
							<option value="hour">小时</option>
							<option value="day">天</option>
							<option value="month">月</option>
						</select>

					</div>
					<div class="form-inline" id="conditions">					
						<label for="time">起始时间：</label>					
						<input type="text" class="form-control" id="starttime" value=""/>	
						<label for="time">终止时间：</label>					
						<input type="text" class="form-control" id="endtime" value=""/>
					</div>   
					
					<div class="form-inline">
						<button type="submit" class="btn btn-default" id="ok" ><font color="#ff0000">查询</font></button>
					</div>
                </div>				
            </div>
			<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

        </div>
    </div>

{% endblock %}

{% block js %}
	<script src="{{ base }}/js/jquery.js"></script>
	<script src="{{ base }}/js/jquery.dataTables.js"></script>
	
	<script src="{{ base }}/js/highcharts.js"></script>
	<script src="{{ base }}/js/modules/exporting.js"></script>
	
	<script src="{{ base }}/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript" charset="utf-8">
		$(document).ready(function () {		
			//	showdata()
			Highcharts.setOptions({
				lang: {
				resetZoom: "返回",
				resetZoomTitle: "回到初始状态"
			}
			});
			
			$('#starttime').datetimepicker({
				step: 5
			});
			$('#endtime').datetimepicker({
				step: 5
			});
		});
		
		function showdata(data){
			xaxis = new Array()
			data1 = new Array()
			var type= $('#type option:selected').text()
			var frequency= $('#frequency option:selected').text()
			var dev = $('#devid').val()
			var xtitle
			if(type == '电量')
				xtitle = dev + ":" + type + "统计值(" + frequency + ")"
			else
				xtitle = dev + ":" + type + "统计值"
			var ytitle
			if(type == '电量')
				ytitle = '度'
			else if(type == '天气')
				ytitle = '平均气温(°C)'
			for(i=0; i<data.length; i++){
				xaxis.push(data[i].key)
				data1.push(parseFloat(data[i].value))
			}

			$('#container').highcharts({
					chart: { 
				//	renderTo: 'chart_line', //图表放置的容器，DIV 
					defaultSeriesType: 'spline', //图表类型line(折线图), 
					zoomType: 'x'   //x轴方向可以缩放 
				}, 
				credits: { 
					enabled: false   //右下角不显示LOGO 
				}, 
				title: { 
					text: xtitle //图表标题 
				}, 
				subtitle: { 
				//	text: '2011年'  //副标题 
				}, 
				xAxis: {  //x轴 
					categories: xaxis, //x轴标签名称 
					gridLineWidth: 1, //设置网格宽度为1 
					lineWidth: 2,  //基线宽度 
					labels: {
						rotation: -45,
						style: {
							fontSize: '13px',
							fontFamily: 'Verdana, sans-serif'
						}
					}
				}, 
				yAxis: {  //y轴 
					title: {text: ytitle}, //标题 
					lineWidth: 2 //基线宽度 
					
				}, 
				plotOptions:{ //设置数据点 
					line:{ 
						dataLabels:{ 
							enabled:true  //在数据点上显示对应的数据值 
						}, 
						enableMouseTracking: false //取消鼠标滑向触发提示框 
					} 
				}, 
				legend: {  //图例 
					layout: 'horizontal',  //图例显示的样式：水平（horizontal）/垂直（vertical） 
					backgroundColor: '#ffc', //图例背景色 
					align: 'right',  //图例水平对齐方式 
					verticalAlign: 'top',  //图例垂直对齐方式 
					x: 100,  //相对X位移 
					y: 70,   //相对Y位移 
					floating: true, //设置可浮动 
					shadow: true  //设置阴影 
				}, 
				exporting: { 
					enabled: true  //设置导出按钮不可用 
				}, 
				series: [{  //数据列 
				//	name: dev, 
					data: data1
				}] 
				});
		}
		
		function change(value){
			style="display: none;"  
			if (value == 'power')
			{
				document.getElementById('frequency_label').style.display = ''
				document.getElementById('frequency').style.display = ''
			}
			else{
				document.getElementById('frequency_label').style.display = 'none'
				document.getElementById('frequency').style.display = 'none'
			}
		}

		//点击查询执行指令
		$("#ok").click(function event(){
			type = $('#type option:selected').val()
			starttime = $('#starttime').val()
			endtime = $('#endtime').val()
			devid = $('#devid').val()
			if(type == 'power')
				frequency = $('#frequency').val()
			else
				frequency = 'none'
		
			if(type == '' || starttime == '' || endtime == '' || devid == '' || frequency == '')
			{
				alert("查询条件不足")
				return
			}
			if(endtime <= starttime){
				alert("终止时间不能早于开始时间")
				return
			}
			
			if(type == 'power' || type == 'temp')
			{
				$.ajax({
				   type:"POST",
				   url: "/dms/admin/griddata",
				   dataType:"json",
				   data:{"type":type,"starttime":starttime,"endtime":endtime,"devid":devid,"frequency":frequency},
				   success:function(data){     
					   showdata(data.result)
						
				   },
				   error: function(xmlHttpRequest, textStatus, errorThrown){
						alert(XMLHttpRequest.status);
				   }
			  });
			}
			else
			{
				$('#container').html( '<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover" id="example" width = 2000px></table>' );
				$('#example').dataTable({
					"bDeferRender":false,
					"bPaginate": true,
					"sPaginationType":"full_numbers",
					"bLengthChange": true,
					"bSort": true,
					"bFilter":false,
					"bServerSide":true,
					"bProcessing":true,
					"columns":[{'title':'devID','class':'center'},{'title':'CMD','class':'center'},{'title':'time','class':'center'}],				
					"sScrollX": "100%",
					"oLanguage": {
						"sProcessing": "正在加载中......",
						"sLengthMenu": "每页显示 _MENU_ 条记录",
						"sZeroRecords": "对不起，查询不到相关数据！",
						 "sEmptyTable": "表中无数据存在！",
						 "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
						  "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
						 "sSearch": "搜索",
						 "oPaginate": {
							 "sFirst": "首页",
							 "sPrevious": "上一页",
							 "sNext": "下一页",
							 "sLast": "末页"
						 }
					 },
					"dom": 'T<"clear">lfrtip',
					"ajax":{
						"type":"POST",
						"url":"/dms/admin/griddata",
						"dataType":"json",
						"data":function(conditions){
							conditions["tablename"] = 'loger';					
							conditions["starttime"] = $('#starttime').val();
							conditions["endtime"] = $('#endtime').val();
							conditions["devid"] = $('#devid').val();
							conditions["frequency"] = $('#frequency').val()
							conditions["type"] = $('#type option:selected').val()
						}
					}			
				});		
			}
		});

    </script>
{% endblock %}